h1, h2, h3, h4, h5, h6{
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
}

h1{
	font-size: $h1-font-size;
	line-height: 40px;
}

h2{
	font-size: $h2-font-size;
	line-height: 36px;
}
h3{
	font-size: $h3-font-size;
	line-height: 36px;
}

p{
	font-size: $base-font-size;
	line-height: 24px;
}

a {
	color: $base-text-color;
	text-decoration: none;
	vertical-align:baseline;
	-webkit-tap-highlight-color: transparent;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

.mobile-font {
	@media (max-width: 680px) {
		font-size: 20px;
		line-height: 36px;
		margin-bottom: 40px;
	}
}