@charset "utf-8";
// Vendors
// Utils
@import "utils/variables";
@import "utils/mixins";
@import "utils/functions";
// Base
@import "base/reset";
@import "base/icons";
@import "base/fonts";
@import "base/typography";
@import "base/buttons";
// Layout
@import "layout/header";
@import "layout/forms";
@import "layout/footer";

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.fader {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 98;
}
#content {
	margin-top: $indent/4;	
}
.section-title-block {
	min-height: 890px;
	background: url(../images/Background_2.png) no-repeat ,url(../images/Background_0.png) no-repeat;
	background-size: cover;
	position: relative;
	@media (max-width: 768px) {
		height: 558px;
		min-height: auto;
		margin-bottom: 480px;
	}
	@media (max-width: 420px) {
		margin-bottom: 360px;
	}
	.parallax-image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		&#img_1 {
			
		}
		&#img_2 {

		}
		&#img_3 {
			z-index: 3;
			right: auto;
			left: 400px;
		}
		&#img_4 {
			z-index: 3;
		}
		&#img_5 {
			z-index: 3;
			left: auto;
		}
		&#img_6 {
			z-index: 3;
			top: auto;
			bottom: -100px;
			left: 400px;
			right: auto;
		}
	}
	.container {
		@media (max-width: 768px) {
			padding-top: 80px;
		}
		.subscribe-title {
			align-items: flex-start;
			background: $white;
			position: relative;
			z-index: 2;
			@media (max-width: 768px) {
				max-width: 500px;
				flex-wrap: wrap;
				margin: 0 auto;
				padding: 40px;
				@include box-shadow;
			}
			@media (max-width: 420px) {
				padding: 20px;
				div {
					width: 100%;
				}
			}
			img {
				max-width: 480px;
				@media (max-width: 768px) {
					width: 100%;
					margin: 0 auto 40px; 
				}
			}
			a {
				width: 190px;
			}
		}
	} 
}
.what-we-offer {
	@media (max-width: 768px) {
		padding: 0 40px;
	}
	@media (max-width: 420px) {
		padding: 0px 20px;
	}
	h2 {
		@media (max-width: 768px) {
			margin-bottom: 80px;
		}
	}
	ul {
		@media (max-width: 768px) {
			flex-wrap: wrap;
			li {
				width: 50%;
				margin-bottom: 80px;
			}
		}	
	}
	img {
		width: $indent/4;
		height: $indent/4;
		margin-bottom: $indent/8;
	}
	p {
		font-size: 20px;
		line-height: 36px;
	}
}

.gift-block {
	@media (max-width: 768px) {
		padding: 80px 40px 0;
	}
	@media (max-width: 420px) {
		padding: 0px 20px;
	}
	.container {
		@media (max-width: 768px) {
			flex-direction: column-reverse;
		}
		.steps {
			@include box-shadow;
			flex-shrink: 0;
			li {
				height: 54px;
				border-bottom: 1px solid $grey;
				&:last-child {
					border-bottom: 0;
					height: auto;
				}
				b {
					margin-right: 10px;
				}
			}
		}
		.left-box {
			width: 270px;
			@media (max-width: 768px) {
				width: 100%;
				display: flex;
				justify-content: space-between;
				div {
					max-width: 270px;
				}
			}
			@media (max-width: 420px) {
				flex-wrap: wrap;
				div {
					max-width: 100%;
					margin-bottom: 40px;
				}
			}
			i {
				font-size: 20px;
			}
			.steps {
				@media (max-width: 768px) {
					max-width: 270px;
					.medium-btn {
						max-width: 190px;
					}
				}
				@media (max-width: 420px) {
					margin: 0 auto;
				}
			}
		}
		.right-box {
			img {
				@media (max-width: 768px) {
					width: 100%;
					margin: 0 auto 80px;
				}
			}
		}

	}
}

.brand-block {
	@media (max-width: 768px) {
		padding: 160px 40px 0;
	}
	@media (max-width: 420px) {
		padding: 80px 20px 0;
	}
	.container {
		@media (max-width: 768px) {
			flex-wrap: wrap;
		}
		.title-block {
			width: 270px;
			font-size: 20px;
			margin-bottom: 100px;
			@media (max-width: 768px) {
				margin-bottom: 40px;
			}
		}
		.left-box {
			max-width: 385px;
			width: 100%;
			margin-right: 60px;
			flex-shrink: 0;
			padding-bottom: 60px;
			@media (max-width: 768px) {
				max-width: 100%;
				display: flex;
				margin: 0 auto 60px;
				justify-content: space-between;
			}
			@media (max-width: 420px) {
				flex-wrap: wrap;
			}
			.brand-slider {
				max-width: 270px;
				width: 100%;
				position: relative;
				@media (max-width: 420px) {
					margin: 0 auto;
				}
				.swiper-container {
					height: 495px;
					@media (max-width: 768px) {
						height: 418px;
					}
				}
				.swiper-pagination {
					right: -90px;
					top: 0;
					display: flex;
					flex-direction: column;
					@media (max-width: 768px) {
						display: none;
					}
					span {
						font-size: 28px;
						line-height: 40px;
						background: 0;
						width: auto;
						height: auto;
						font-family: 'Montserrat';
						font-weight: bold;
						margin-bottom: 20px;
					}
				}
				.swiper-button-prev,
				.swiper-button-next {
					width: 20px;
					height: 20px;
					top: -40px;
					left: 0;
					right: 0;
					margin: 0 auto;
					background: url(../images/icon_10_7.svg) no-repeat;
					background-size: cover;
					@media (max-width: 768px) {
				    	top: -20px;
				    	width: 40px;
				    	height: 40px;
				    	border-radius: 50%;
				    	background-size: 10px 10px !important;
				    	background-position: center !important;
				    	@include button-shadow;
				    	background-color: $white !important;
				    }
				}
				.swiper-button-next {
					background: url(../images/icon_10_8.svg) no-repeat;
					top: auto;
					bottom: -60px;
					@media (max-width: 768px) {
						bottom: -20px;
					}
				}
			}
		}
		.right-box {
			padding-left: 175px;
			border-left: 2px solid $light-black;
			width: 100%;
			@media (max-width: 768px) {
				padding: 0;
				border: 0;
			}
			.brand-product-slider {
				position: relative;
				.swiper-container {
					height: 480px;
					.swiper-slide {
						display: flex;
						justify-content: space-between;
						padding: 0 10px;
						a {
							@media (max-width: 768px) {		
								margin: 0 auto;
							}
							@media (max-width: 480px)  {
								&:nth-child(2) {
									display: none;
								}
							}
						}
					}
				}
				.swiper-pagination {
					left: -80px;
					top: 0;
					display: flex;
					flex-direction: column;
					@media (max-width: 768px) {
						display: none;
					}
					span {
						font-size: 28px;
						line-height: 40px;
						background: 0;
						width: auto;
						height: auto;
						font-family: 'Montserrat';
						font-weight: bold;
						margin-bottom: 20px;
					}
				}
				.swiper-button-prev,
				.swiper-button-next {
					width: 20px;
					height: 20px;
					top: -40px;
					left: 0px;
					right: 0;
					margin: 0 auto;
					background: url(../images/icon_10_7.svg) no-repeat;
					background-size: cover;
					@media (max-width: 768px) {
				    	top: 50% !important;
				    	left: -10px;
				    	right: auto;
				    	transform: translateY(-50%);
				    	background: url(../images/icon_10_5.svg) no-repeat;
				    	width: 40px;
				    	height: 40px;
				    	border-radius: 50%;
				    	background-size: 10px 10px !important;
				    	background-position: center !important;
				    	@include button-shadow;
				    	background-color: $white !important;
				    }
				}
				.swiper-button-next {
					background: url(../images/icon_10_8.svg) no-repeat;
					top: auto;
					bottom: -60px;
					@media (max-width: 768px) {
						background: url(../images/icon_10_6.svg) no-repeat;
						bottom: auto;
						left: auto;
						right: -10px;
					}
				}
			}
		}

	}
}

.product-preview {
	display: block;
	width: 270px;
	height: 460px;
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
	transition: all 0.3s;
	&:hover {
		box-shadow: 0 10px 20px 0 rgba(0,0,0,0.4);
	}
	.image-holder {
		position: relative;
		background: $grey;
		width: 270px;
		height: 270px;
		img {
			width: 270px;
			height: 270px;
		}
		.gift {
			position: absolute;
			top: 20px;
			right: 20px;
			i {
				font-size: 20px;
			}	
		}
	}
	.product-description {
		p {
			height: 46px;
		}
		.price {
			display: block;
			font-size: 20px;
			line-height: 36px;
			font-family: 'Montserrat';
			margin-bottom: 10px;
		}
		.medium-btn {
			width: 100%;
		}
	}
}
.swiper-slide {
	.product-preview {
		@media (max-width: 420px) {
			margin: 0 auto;
		}
	}
}
.top-sale,.new-items {
	@media (max-width: 768px) {
		padding: 160px 40px 0;
	}
	@media (max-width: 420px) {
		padding: 80px 20px 0;
	}
	.container {
		@media (max-width: 768px) {
			flex-wrap: wrap;
		}
		.left-box {
			flex-shrink: 0;
			@media (max-width: 768px) {
				margin-bottom: 40px;
			}
		}
		.right-box {
			.slider {
				max-width: 890px;
				width: 100%;
				position: relative;
				.swiper-container {
					padding: 0 10px;
					height: 480px;
					.swiper-slide {
						.product-preview {
							@media (max-width: 768px) {		
								margin: 0 auto;
							}
						}
					}
				}
				.swiper-button-prev,
				.swiper-button-next {
					width: 20px;
					height: 20px;
					top: 50%;
					transform: translateY(-50%);
					left: -25px;
					margin: 0 auto;
					background: url(../images/icon_10_5.svg) no-repeat;
					background-size: cover;
					@media (max-width: 768px) {
				    	top: 50% !important;
				    	left: -10px;
				    	right: auto;
				    	transform: translateY(-50%);
				    	width: 40px;
				    	height: 40px;
				    	border-radius: 50%;
				    	background-size: 10px 10px !important;
				    	background-position: center !important;
				    	@include button-shadow;
				    	background-color: $white !important;
				    }
				}
				.swiper-button-next {
					background: url(../images/icon_10_6.svg) no-repeat;
					right: -20px;
					left: auto;
					@media (max-width: 768px) {
						bottom: auto;
						left: auto;
						right: -10px;
					}
				}
			}
		}
	}
}

.new-items {
	padding-top: 145px;
	@media (max-width: 768px) {
		padding: 80px 40px 0;
	}
	@media (max-width: 420px) {
		padding: 80px 20px 0;
	}
}

.contact-form {
	padding-bottom: 142px;
	@media (max-width: 768px) {
		padding: 204px 40px 80px;
	}
	@media (max-width: 420px) {
		padding: 80px 20px 80px;
	}
	.container {
		@media (max-width: 768px) {
			flex-direction: column-reverse;
		}
		form {
			max-width: 580px;
			width: 100%;
			flex-shrink: 0;
			background: $white;
			@include box-shadow;
			.form-group {
				width: 100%;
				height: 60px;
				border-radius: 5px;
				position: relative;
				overflow: hidden;
				&.textarea-holder {
					height: 120px;
				} 
				input {
					width: 100%;
					height: 100%;
					padding-left: 60px;
					border: 0;
					background: $light-white;
					appearance: none;
					outline: 0;
					font-size: 15px;
					line-height: 1.2;
				}
				textarea {
					width: 100%;
					height: 100%;
					padding: 20px 20px 20px 60px;
					border: 0;
					background: $light-white;
					appearance: none;
					outline: 0;
					resize: none;
					font-size: 15px;
				}
				i {
					font-size: 20px;
					position: absolute;
					top: 20px;
					left: 20px;
				}
			}
			button {
				font-size: 16px;
				line-height: 24px;
			}
		}
		.right-box {
			max-width: 425px;
			width: 100%;
			flex-shrink: 0;
			@media (max-width: 768px) {
				max-width: 100%;
				display: flex;
				justify-content: space-between;
				margin-bottom: 80px;
				div {
					padding-right: 20px;
					border-right: 1px solid #95989A;
					p {
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
				ul {
					flex-direction: column;
					padding: 0 40px;
					
					li {
						margin-bottom: 20px;
						&:last-child {
							margin-bottom: 0;
						}
						a {
							margin: 0;
						}
					}
				}
			}
			i {
				font-size: 20px;
				&:before {
					color: $white;
				}
			}
		}
	}
}

.section-title-pages {
	height: 320px;
	background: url(../images/Background_2.png) no-repeat ,url(../images/Background_0.png) no-repeat;
	background-size: cover;
	position: relative;
	@media (max-width: 768px) {
		display: none;
	}
}
.page-wrapper {
	max-width: 1360px;
	width: 100%;
	margin: -160px auto 160px;
	background: $white;
	@include box-shadow;
	position: relative;
	@media (max-width: 768px) {
		background: $light-white;
		margin: 0px auto;
		padding: 80px 40px;
		box-shadow: none;
	}
	@media (max-width: 420px) {
		padding: 80px 20px;
	}
}

.video-block {
	@media (max-width: 680px) {
		height: 320px;
		margin-bottom: 40px;
		iframe {
			height: 100%;
		}
	}
	@media (max-width: 420px) {
		height: 180px;
	}
}

.about-text {
	@media (max-width: 680px) {
		flex-wrap: wrap;
		margin-bottom: 40px;
		&:last-of-type {
			flex-direction: column-reverse;
			margin-top: 40px;
		}
		img {
			width: 100%;
			margin: 0 auto 40px;
		}
	}
}

.contact-holder {
	align-items: flex-start;
	@media (max-width: 680px) {
		flex-direction: column;
	}
	.left-box {
		@include box-shadow;
		flex-shrink: 0;
		@media (max-width: 680px) {
			margin: 0 auto 40px;
			width: 100%;
			box-shadow: none;
			padding: 0;
		}
		.socials {
			i {
				&:before {
					color: $white;
				}
			}
		}
	}
}

.contact-list {
	li {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		i {
			font-size: 20px;
			margin-right: 10px;			
		}	
	}
}

.contact-holder {
	.contact-list {
		@media (max-width: 680px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		li {
			margin-bottom: 10px;
			@media (max-width: 680px) {
				width: 50%;
				&:nth-child(1) {
					order: 0;
				}
				&:nth-child(2) {
					order: 2;
				}
				&:nth-child(3) {
					order: 1;
				}
				&:nth-child(4) {
					order: 3;
				}
			}
			@media (max-width: 420px) {
				width: 100%;
				order: inherit !important;
			}
			&:last-child {
				margin-bottom: 0;
			}
			i {
				font-size: 20px;
				margin-right: 10px;			
			}	
		}
	}
}

.map-holder {
	height: 650px;
	@media (max-width: 680px) {
		height: 280px;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.where-we-sell {
	@media (max-width: 680px) {
		margin-top: 120px;
		margin-bottom: 50px;
	}
}

.store-slider {
	@include box-shadow;
	@media (max-width: 680px) {
		box-shadow: none;
		padding: 0;
		margin: 0;
		width: 100%;
	}
	flex-shrink: 0;
	.select-holder {
		display: flex;
		align-items: center;
		width: 100%;
	    height: 60px;
	    border-top: 1px solid $grey;
	    border-bottom: 1px solid $grey;
	    i {
	    	font-size: 20px;
	    }
		select {
			height: 100%;
			width: 100%;
			border: 0;
			font-size: 15px;
		    line-height: 1.2;
			color: $light-black;
			display: flex;
	    	align-items: center;    
		    appearance: none;
		    outline: 0;
		    background: 0 0;
		    border-radius: 0;
	        justify-content: space-between;
	    	background: url(../images/icon_10_8.svg) center right no-repeat;
	    	background-size: 10px 10px;
	    	padding-left: 10px;
		}
    }
}
		
.contact-slider {
	position: relative;
	.swiper-container {
		height: 410px;
		padding: 5px;
		padding-bottom: 10px;
		@media (max-width: 680px) {
			height: 440px;
		}
		.swiper-slide {
			@include button-shadow;
			@media (max-width: 680px) {
				background: $white;
				padding: 20px;
				div {
					padding: 0;
					padding-bottom: 20px;
				}
				ul {
					padding: 0;
					padding-top: 20px;
				}
			}
		}
	}
	.swiper-button-next,
	.swiper-button-prev {
	    width: 20px;
	    height: 20px;
	    top: -20px;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    background: url(../images/icon_10_7.svg) no-repeat;
	    background-size: cover;
	    @media (max-width: 680px) {
	    	top: -60px;
	    	width: 40px;
	    	height: 40px;
	    	border-radius: 50%;
	    	background-size: 10px 10px !important;
	    	background-position: center !important;
	    	@include button-shadow;
	    	background-color: $white !important;
	    }
	}
	.swiper-button-next {
	    background: url(../images/icon_10_8.svg) no-repeat;
	    top: auto;
	    bottom: -25px;
	    @media (max-width: 680px) {
	    	bottom: -50px;
	    }
	}
}
.page-404 {
	.section-title-block {
	    min-height: 840px;
    	background: url(../images/Background_black_2.png) no-repeat,url(../images/Background_black_0.png) no-repeat;
    	background-size: cover;
    	position: relative;
		.container {
			padding-top: 75px;
		}
		@media (max-width: 680px) {
			display: none;
		}
	}
	.error-holder {
		@media (max-width: 680px) {
			margin-bottom: 80px;
			padding: 80px 40px 0; 
		}
		@media (max-width: 420px) {
			margin-bottom: 80px;
			padding: 80px 20px 0; 
		}
		.error-message-block {
			@media (max-width: 680px) {
				flex-wrap: wrap;
			}
			.left-box {
				background: $white;
				@include box-shadow;
				max-width: 580px;
				@media (max-width: 680px) {
					margin-bottom: 40px;
					padding: 80px;
				}
				@media (max-width: 420px) {
					padding: 20px;
				}
				li {
					align-items: flex-start;
					position: relative;
					&:before {
						content: '';
						width: 10px;
						height: 1px;
						background: #95989A;
						margin-right: 10px;
						margin-top: 13px;
					}
				}
			}
			.right-box {
				background: $white;
				@include box-shadow;
				max-width: 580px;
				@media (max-width: 680px) {
					padding: 80px;
				}
				@media (max-width: 420px) {
					padding: 20px;
				}
				ul {
					border-right: 1px solid $grey;
					li {
						@include button-shadow;
						margin-bottom: 10px;
						width: 190px;
						@media (max-width: 420px) {
							max-width: 120px;
						}
						&:last-child {
							margin-bottom: 0;
						}
					}	
				}
			}
		}
	}
}
.shop-wrapper {
	.title-filter-holder {
		@media (max-width: 768px) {
			display: flex !important;
			.filter-link {
				height: 36px;
				display: flex;
				align-items: center;
			}
		}
	}
	.filter-box {
		width: 270px;
		@include box-shadow;
		flex-shrink: 0;
		background: $light-white;
		@media (max-width: 768px) {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 99;
			width: 100%;
			padding: 80px 40px;
			overflow-y: auto;
		}
		.close-filter {
			position: absolute;
			top: 20px;
			right: 20px;
			@media (max-width: 768px) {
				display: flex !important;
			}
			i {
				&.cross {
					display: block;
					width: 10px;
					height: 10px;
					background: url(../images/cross.svg) no-repeat;
					background-size: 10px 10px;
				}
			}
		}
		.drop-holder {
			cursor: pointer;
			@media (max-width: 768px) {
				margin: 0;
			}
			.drop-title {
				height: 24px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				border-bottom: 1px solid $grey;
				@media (max-width: 768px) {
					height: auto;
					font-size: 20px;
					line-height: 34px;
					padding-bottom: 20px;
					margin-bottom: 20px;
				}
				i {
					font-size: 10px;
					transition: all 0.3s;	
					&.check {
						display: block;
						width: 10px;
						height: 10px;
						background: url(../images/check.svg) no-repeat;
						background-size: 10px 10px;
					}
					&.cross {
						display: block;
						width: 10px;
						height: 10px;
						background: url(../images/cross.svg) no-repeat;
						background-size: 10px 10px;
					}
				}
			}
			.label-holder {
				display: none;
				.label-container {
					display: inline-flex;
					justify-content: space-between;
					position: relative;
					width: 100%;
					height: 24px;
					align-items: center;
					padding-left: 30px;
					margin-bottom: 20px;
					cursor: pointer;
					user-select: none;
					font-size: 15px;
					line-height: 24px;
					@media (max-width: 768px) {
						height: auto;
						padding: 0 0 20px;
						border-bottom: 1px solid $grey;
					}
					i {
						font-size: 10px;
						visibility: hidden;
						opacity: 0;
					}
					.checkmark {
						position: absolute;
						top: 50%;
						left: 0;
						height: 20px;
						width: 20px;
						border-radius: 5px; 
						background: $grey;
						transform: translateY(-50%);
						@media (max-width: 768px) {
							left: auto;
							right: 0;
							top: 0;
							transform: translateY(0);
						}
						&:after {
							content: "";
							position: absolute;
							display: none;
							left: 0;
							right: 0;
							margin: 0 auto; 
							top: 50%;
							width: 20px;
							height: 20px;
							border-radius: 5px;
							transform: translateY(-50%);
							background: $gold;
						}
						&:before {
							content: "";
							position: absolute;
							display: none;
							left: 0;
							right: 0;
							margin: 0 auto;
							top: 50%;
							width: 10px;
							height: 10px;
							transform: translateY(-50%);
							background: url(../images/check.svg) center center no-repeat;
							background-size: 10px 10px;
							z-index: 1;
						}
					}
					input {
						position: absolute;
						opacity: 0;
						cursor: pointer;
						height: 0;
						width: 0;
						&:checked ~ .checkmark {
							&:after,
							&:before {
								display: block;
							}
							&+ i {
								opacity: 1;
								visibility: visible;
							}	
						}
					}
				}
			}
			&.open {
				.drop-title {
					i {
						transform: rotate(180deg);
					}
				}
			}
		}
	}
	.shop-box {
		flex-wrap: wrap;
		justify-content: space-between;
		.load-more {
			display: flex;
			justify-content: center;
			.medium-btn {
				width: 230px;
				color: $light-black;
			}
		}
		.product-preview {
			margin: 0 auto 40px;
		}
		.brand-holder {
			@include box-shadow;
			align-items: flex-start;
		}
	}
	.submit-search-holder {
		@media (max-width: 768px) {
			display: flex;
			justify-content: space-between;
		}
		.search {
			width: 100%;
			height: 40px;
			border: 1px solid $grey;
			border-radius: 5px;
			background: $white;
			padding-left: 20px;
			font-size: 15px;
			line-height: 24px;
			@media (max-width: 768px) {
				max-width: 100%;
				width: 50%;
				margin-right: 40px;
			}
		}
		.submit {
			width: 100%;
			font-size: 15px;
			line-height: 24px;
			border: 0;
			@media (max-width: 768px) {
				max-width: 100%;
				width: 50%;
			}
		}
	}
}
.brand-holder {
	background: $white;
	@media (max-width: 768px) {
		padding: 0;
		flex-wrap: wrap;
		img {
			width: 100%;
			height: 240px;
			object-fit: cover;
			margin: 0;
		}
		.brand-description {
			padding: 40px;
		}
	}
}
.show-more {
	height: 175px;
	overflow: hidden;
	position: relative;
	@media (max-width: 768px) {
		height: 106px;
	}
	&:after {
		content: '';
		height: 40px;
		width: 100%;
		position: absolute;
		bottom: 0;
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
		opacity: 1;
		visibility: visible;
	}
	&.show-less {
		height: auto;
		&:after {
			opacity: 0;
			visibility: hidden;
		}
	}
}
.show-btn {
	width: 20px;
	height: 20px;
	display: block;
	margin: 0 auto;
	transition: all 0.1s;
	&.rotate {
		transform: rotate(180deg);
	}
}

.product {
	.page-wrapper {
		margin-bottom: 80px;
		background: $light-white;
		@media (max-width: 768px) {
			flex-wrap: wrap;
			margin-bottom: 0;
			padding-bottom: 0;
		}
		.left-box {
			max-width: 560px;
			flex-shrink: 0;
			background: $grey;
			display: flex;
			align-items: center;
			justify-content: center;
			@media (max-width: 768px) {
				max-width: 100%;
				margin: 0;
			    box-shadow: 0 0px 20px 0 rgba(0,0,0,.1);
			}
		}
		.right-box {
			.description {
				@media (max-width: 768px) {
					padding: 40px;
					@include box-shadow;
					margin-bottom: 40px;
				}
				.show-more {
					@media (min-width: 768px) {
						height: auto;
						&:after {
							display: none;
						}
					}
					@media (max-width: 768px) {
						margin: 0;
						&:after {
					        background: linear-gradient(to bottom,rgba(250,250,250,0) 0,#fafafa 100%);
						} 
					}
				}
			}
			.label {
				width: 95px;
			}
			.volume-holder {
				min-height: 40px;
				align-items: center;
				.volume-slider {
					position: relative;
					.swiper-container {
					    max-width: 410px;
		    			height: 70px;
		    			padding: 15px 11px;	
		    			@media (max-width: 420px) {
		    				max-width: 190px;
		    				padding: 15px 8px;
		    			}
						.label-container {
							display: inline-flex;
							justify-content: center;
							position: relative;
							width: 80px;
							height: 40px;
							align-items: center;
							cursor: pointer;
							user-select: none;
							font-size: 15px;
							line-height: 24px;
							border-radius: 5px;
							@include button-shadow;
							span {
								color: $base-text-color;
								position: relative;
								z-index: 2;	
							}
							.checkmark {
								position: absolute;
								top: 0;
								right: 0;
								bottom: 0;
								left: 0;
								border-radius: 5px; 
								background: $white;
								z-index: 1;
							}
							input {
								position: absolute;
								opacity: 0;
								cursor: pointer;
								height: 0;
								width: 0;
								&:checked ~ .checkmark {
									background: $gold;	
								}
							}
						}
					}
				}
				.swiper-button-prev,
				.swiper-button-next {
					width: 20px;
					height: 20px;
					top: 50%;
					transform: translateY(-50%);
					left: -25px;
					margin: 0 auto;
					background: url(../images/icon_10_5.svg) no-repeat;
					background-size: cover;
					
				}
				.swiper-button-next {
					background: url(../images/icon_10_6.svg) no-repeat;
					right: -20px;
					left: auto;
				}
			}
			
			.total {
				b {
					font-size: 20px;
					line-height: 36px;
					font-family: $headings-font-family;
				}
			}
			.button-holder {
				@media (max-width: 768px) {
					a {
						width: 50%;
					}
				}
			}
		}
	}
}
.quantity {
	width: 160px;
	height: 40px;
	border-radius: 5px;
	@include button-shadow;
	button {
		box-shadow: none;
		border: 0;
		outline: 0;
		appearance: none;
		flex-shrink: 0;
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 0;
		background: $white;
		.minus {
			width: 8px;
			height: 1px;
			background: $light-black;
			&.plus {
				&:after {
					content: '';
					width: 1px;
					height: 8px;
					background: $light-black;
					position: absolute;
					top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    margin: auto;
				}
			}
		}
	}
	input {
		width: 100%;
		height: 40px;
		border: 0;
		border-left: 1px solid $grey;
		border-right: 1px solid $grey;
		text-align: center;
		padding: 0;
		font-size: 15px;
		line-height: 24px;
		color: $base-text-color;
	}
}
.look-more {
	max-width: 1360px;
	width: 100%;
	margin: 0px auto 160px;
	background: $light-white;
	@include box-shadow;
	position: relative;
	@media (max-width: 768px) {
		background: $light-white;
		margin: 0px auto;
		padding: 80px 40px;
		box-shadow: none;
	}
	@media (max-width: 420px) {
		padding: 80px 20px;
	}
	.also-slider {
		position: relative;
		margin: 0 -15px;
		.swiper-container {
			padding: 20px 15px;
			height: 520px;
		}
		.swiper-button-prev,
		.swiper-button-next {
			width: 20px;
			height: 20px;
			top: 50%;
			transform: translateY(-50%);
			left: -25px;
			margin: 0 auto;
			background: url(../images/icon_10_5.svg) no-repeat;
			background-size: cover;
			@media (max-width: 680px) {
		    	top: 50% !important;
		    	left: -5px;
		    	right: auto;
		    	transform: translateY(-50%);
		    	width: 40px;
		    	height: 40px;
		    	border-radius: 50%;
		    	background-size: 10px 10px !important;
		    	background-position: center !important;
		    	@include button-shadow;
		    	background-color: $white !important;
		    }
		    @media (max-width: 420px) {
		    	left: 30px;
		    }
		}
		.swiper-button-next {
			background: url(../images/icon_10_6.svg) no-repeat;
			right: -20px;
			left: auto;
			@media (max-width: 680px) {
				bottom: auto;
				left: auto;
				right: -5px;
			}
			@media (max-width: 420px) {
				bottom: auto;
				left: auto;
				right: 30px;
			}
		}
	}
}
.checkout {
	.left-box {
		max-width: 890px;
		width: 100%;
		padding-right: 40px;
		border-right: 2px solid $grey;
		.checkout-product {
			min-height: 160px;
			@include box-shadow;
			position: relative;
			.img-holder {
				width: 160px;
				height: 160px;
				background: $grey;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-shrink: 0;
				img {
					max-width: 120px;
				}
			}
			p {
				max-width: 225px;
			}
			b {
				font-size: 20px;
				line-height: 36px;
				font-family: $headings-font-family;
			}
			.quantity {
				width: 115px;
				input {
					width: 35px;
				}
			}
			.close-product {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 20px;
				height: 20px;
				background: $grey;
				border-radius: 5px;
				position: absolute;
				top: -10px;
				right: -10px;
				img {
					width: 10px;
					height: 10px;
				}
			}
		}
		.delivery-holder {
			@include box-shadow;
			.tabs {
				display: flex;
				@include button-shadow;
				li {
					width: 100%;
					padding: 20px;
					display: flex;
					align-items: center;
					cursor: pointer;
					white-space: nowrap;
					&:nth-child(2) {
						border-right: 1px solid $grey;
						border-left: 1px solid $grey;
					}
					.check {
						width: 20px;
						height: 20px;
						border-radius: 5px;
						background: $grey;
						margin-right: 20px;
						flex-shrink: 0;
					}
					b {
						width: 100%;
						text-align: right;
					}
					&.active {
						background: $light-white;
						.check {
							background: url(../images/check.svg) no-repeat $gold;
							background-position: center;
							background-size: 10px 10px;
						}
					}
				}
			}
			.tab-content {
			  	display: none;
			  	&.active {
			  		display: inherit;
				}
				&.active.flex {
			  		display: flex;
			  		align-items: flex-start;
			  		img {
			  			max-width: 385px;
			  			flex-shrink: 0;
			  		}
				}
				.delivery-spots {
					max-height: 310px;
					overflow-y: auto;
					img {
						width: 40px;
						height: 40px;
					}
				}
				input {
					width: 100%;
					height: 40px;
					border: 1px solid $grey;
					padding: 10px;
					border-radius: 5px;
					background: $light-white;  
					font-size: 15px;
					line-height: 24px;
					outline: none;
					appearance: 0;
				}
				&.credit-holder {
					.left-card {
						width: 100%;
						@include button-shadow;
						background: $grey;
						border-radius: 20px;
						height: 240px; 
						input {
							background: $white;
							border-radius: 5px;
							border: 0;  
							&.date {
								width: 80px;
							}
						}
					}
					.right-card {
						width: 100%;
						height: 240px;
						@include button-shadow;
						background: $grey;
						border-radius: 20px;
						span {
							display: block;
							height: 60px;
							border: 1px solid #95989A;
							background: $light-black; 
						}
						.cw {
							justify-content: flex-end;
							align-items: center;
							p {
								text-align: right;
							}
							i {
								font-size: 10px;
								line-height: 24px;
								font-style: normal;
							}
							input {
								background: $white;
								border-radius: 5px;
								border: 0;  
								width: 50px;
								margin-left: 20px;
							}
						}
					}
				}
			}
			.contact-content {
				input {
					width: 100%;
					height: 40px;
					border: 1px solid $grey;
					padding: 10px;
					border-radius: 5px;
					background: $light-white;  
					font-size: 15px;
					line-height: 24px;
					outline: none;
					appearance: 0;
				}
			}
		}
	}
	.right-box {
		@include box-shadow;
		background: $white;
		position: relative;
		top: 0;
		.promocode {
			input {
				width: 100%;
				height: 40px;
				border: 1px solid $grey;
				padding: 10px;
				border-radius: 5px;
				background: $white;  
				font-size: 15px;
				line-height: 24px;
				outline: none;
				appearance: 0;
			}
			a {
				width: 100%;
			}
		} 
		.final-deal {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 60px;
			width: 100%;
		}
		.policy {
			position: absolute;
			bottom: -60px;
			text-align: center;
			a {
				color: $gold;
			}
		}
	}
}