#header {
    position: fixed;
    height: 80px;
    z-index: 99;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 80px;
    background: $white;
    @include box-shadow;
    .logo {
        width: 80px;
        height: 40px;
    }
    .menu-mobile {
        display: none;
        width: 30px;
        height: 20px;
        flex-shrink: 0;
        position: relative;
        z-index: 100;
        @media (max-width: 769px) {
            display: block;
            span {
                width: 30px;
                height: 2px;
                background: $black;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                transition: all 0.3s;
                &:nth-child(2) {
                    top: 9px;
                }
                &:nth-child(3) {
                    top: 17px;
                }
            }
        }
    }
    #myMenu {
        height: 100%;
        flex-shrink: 0;
        @media (max-width: 769px) {
            position: absolute;
            top: 80px;
            right: -100%;
            width: 100%;
            padding: 0 35px 30px;
            height: auto;
            flex-direction: column;
            transition: all 0.3s;
        }
        li {
            position: relative;
            margin-right: $indent/16;
            &:last-child {
                margin-right: 0;
            }
            a {
            }
        }
    }
    .show-menu {
        right: 0 !important;
    }
    .basket {
        flex-shrink: 0;
        margin-left: $indent/8;

    }
}
